---
---

@import "{{ site.theme }}";

.specialimage {
    display: block;
    position: relative;
    z-index: 100;
}
.pic {
    display: block;
    position: absolute;
    top:0;
    left:0;
}
.specialimage .old {
    opacity: 1;
    transition: opacity 0.5s;
}
.specialimage:hover .old {
    opacity: 0;
    transition: opacity 0.5s;
}
