---
---

@import "{{ site.theme }}";


.hoverswitch {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;

    position: relative;
}

.pic {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.hoverswitch .new {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top:0;
}

.hoverswitch:hover .new {
    opacity: 1;
    transition: opacity 0.5s;
}
